{% extends "@DLUser/Frontlayout/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block pagename %}{% endblock  %}
{% block body %}
<br><br><br><br><br>
<div class="row">

    <div class="col-md-3"></div>
    <br><br><br><br><br>
    <div class="col-md-6">
        <div class="alert alert-dismissible alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <p>Vos fichiers on été bien transférés à l'administration vous pouvez maintenant passer vos commandes</p>
        </div>    <br><br><br><br><br>
        <br><br><br><br><br>

        <div class="col-md-3"></div>
    </div>

    {% endblock body %}




