{% extends 'DLBackofficeBundle:BackLayout:Layout.html.twig' %}

{% block content %}
    <div class="women_main">
        <br><br><br><br>
        <div class="alert alert-dismissible alert-danger">

            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Ooops!</strong> Cette section est réservée seulement aux networkers.

        </div>
        <br><br><br><br>
    </div>
{% endblock content %}