{% extends '@DLUser/Profile/show.html.twig' %}

{% block container %}

    <div class="profile-content">
    <p style="text-align: right; color: #e07e27;">Dernière connexion: {{ app.user.lastLogin|date('d-m-Y H:i:s') }}</p>
    <br><br><br><br><br><br>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>
                        <center>#</center>
                    </th>
                    <th>
                        <center>Nom</center>
                    </th>
                    <th>
                        <center>Prénom</center>
                    </th>
                    <th>
                        <center>Email</center>
                    </th>


                </tr>
                </thead>
                <tbody align="center">
                {% for i in flchield %}
                    <tr>
                        <th></th>
                        <td>{{ i.nom }}</td>
                        <td>{{ i.prenom }}</td>
                        <td>{{ i.email }}</td>


                    </tr>

                {% endfor %}
                </tbody>
            </table>


    </div>




{% endblock container %}